*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{

    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    width: 400px;
    padding: 1.5rem;
}

h1{
    font-size: 24px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

.input-group label {
    margin: 0.4rem;
    font-family: bold;
}

.resultado{
    margin: 0.4rem;
    font-family: bold;
}
select,
input {
    padding: 1rem;
    border-radius: 10px;
    background-color: #eee;
    border: none;
}

.message{

    display: none;
    background-color: rgba(132, 255, 132, 0.705);
    padding: 1rem;
    margin: 1rem;
    border-left: 5px solid #2a853d ;    
}

button{
    background-color:  #4caf50;
    padding: .5rem;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: .2;
    font-size: 1.2rem;
    opacity: .7;
    transition: .4s;
}

.aparecer{
    display: block;
}

.sumir{
    display: none;
}


button:hover{
    opacity: 1;
}